* {
    -fx-font-family: "Tahoma";
}

.sidebar {
    -fx-background-color: #141414;
    -fx-background-radius: 0px 50px 0px 0px;

}

.sidebar-btn {
    -fx-pref-width: 200px;

}
.modify-btn{
    -fx-cursor:hand;
    -fx-font-family: "Arial";
}

.modify-btn:hover {
    -fx-background-color: #1593e7 ;
}


.log-out-btn {
    -fx-cursor:hand;

}





